/*Formatação das imgs*/
.logo {
    width: 10vw;
    height: 3.3vw;
}
.logo-pequena{
    display: none;
}
.userimg{
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 30px;
}


/*Formatação geral*/
button{
    background: none;
    border: none;
}

header{
    height: 100px;
    padding: 1rem;
   
}
body{
    background: linear-gradient(to left, black, rgb(39, 0, 39));
    background-repeat: no-repeat;
    max-width: 100vw;
    min-height: 100vh;
}


/*Search-bar*/
.search-bar{
    display: flex;
    height: 2.5rem;
    padding: 0.7rem;
    border-radius: 2rem;
    background-color: white;
    position: relative;
}

.btfilter{
    height: 100%;
    width: 100%;
}
.search-input{
    border: none;
    outline: none;
    width: 30vw;
    
}

.btfilter, .btsearch{
    display: flex;
    justify-content: center;
    align-items: center;

    
}

.dropdown{
    position: absolute;
    background-color: black;
    color: white;
    border: purple 3px solid;
    width: 50%;
    z-index: 6;
}
.dropdown ul{
    padding: 1rem;
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}
.dropdown ul li{
    list-style: none;
}

@media screen and (max-width:768px){
    .logo{
        display: none;
    }
    .logo-pequena{
        display: inline;
        height:10vw;
        width: 10vw;
    }
    #username{
        display: none;
        position:absolute !important;
        right: 55px;

    }
    .search-input{
        width: 45vw;
    }
} 


/*Formatação user-info*/
.user-info button{
    background-color: black;
    color: white;
    padding: 0.3rem 0.5rem;
    border-radius: 1rem;
}
#username{
    color: white;
    font-weight: bolder;
    font-size: 120%;
    padding: 0.5rem;
}
.userimg:hover{
    cursor: pointer;
}

.user-info{
    margin-top: .5rem;
}

/*formatação destaques*/

.destaques > div{
   height: 100%;
}

.destaques, .carousel-img-div{
    height: 80vh;
}
.carousel-img-div img{
    cursor: pointer;
}
@media screen and (min-width:768px) {
    .custom-img-carousel{
        width: 50% !important; /*fiz isso pq a classe inutil do bootstrap w-md-50 simplesmente n funciona de tão ruim q essa merda é, qnd to obviamente acima de 768px vou no inspecionar e a desgraça n ta ta aplicada, ent fds vai assim msm, bootstrap é uma merda*/
        height: 100%;
        position: relative;
        left: 50%;
        z-index: 1;
    }
    .carousel-img-div{
        
        width: 100%;

    }
    .degrade{
        position: absolute;
        background: linear-gradient(to right, rgb(22, 0, 22) 45%, rgba(255, 255, 255, 0) 100%);
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: 4;
        
    }
    .custom-caption, .carousel-indicators, .carousel-control-prev, .carousel-control-next{
        z-index: 5;
    }

    .custom-caption{
        position: absolute;
        left: calc(25vw - (400px/2));
        top: calc(50% - 110px);
        
        width: 400px;
    }
    .custom-caption h5{
        font-size: 300%;
    }

    .custom-caption h5:hover, .custom-caption p:hover{
        cursor:pointer;
    }

    
    

    
    
    
}


/*Formatação da área de filmes*/

.divFrase{
    color: white;
}

.filme{
    position: relative;
    height: 75vw;
}

.filmes .divImg{
    position: absolute;
    bottom: 0;
    max-width: 100%;
    height: 100%;
    z-index: 1;
}

.filmes .row{
    overflow: auto;
    flex-wrap: nowrap !important;
}

.filmes .divImg img{
    width: 95%;
    height: 100%;
}
.filme:hover{
    cursor: pointer;
}

.filmes .botoes{
    display: none;
}

.conteudo{
    display: none;
}

@media screen and (min-width:768px) {
    .filme{
        height: 50vw;
    }

    .conteudo{
        display: block;
    }

    .filme:hover .conteudo{
        position: relative;
        z-index: 2;
        background-color: rgba(41, 41, 41, 0.808);
        width: 100%;
        height: 100%;
        color: white;
        padding: 1rem;
    }

    
    .filmes .botoes{
        display: block;
    }
    .filmes .botoes ul{
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        width: 100%;
        justify-content: flex-start;


    }
    .filme:hover .botoes{
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
    }
    .filmes .botoes ul li a{
        color: purple;
    }
    .filmes .botoes ul li a i{
        font-size: 150%;
    }
    .filmes .botoes ul li:first-of-type a i{
        font-size: 240%;

    }

    .botoes ul li{
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .botoes ul li:not(:first-of-type){
        margin-right: .4rem;
    }
}

@media screen and (min-width:992px){
    .filme{
        height: 25vw;
    }
    .conteudo h3{
        font-size: 1.8vw;
    }
    .conteudo p{
        font-size: 0.9vw;
    }
} 

/*corousel no pc ao invez do scroll*/

.bts-custom-carousel{
    display: none;
}

@media screen and (min-width:768px){
    .filmes .row{
        overflow: hidden;
    }
    .bts-custom-carousel{
        display: inline-block;
        width:fit-content;
        z-index: 10;
        transform: translateY(-50%);

    }
    .prev {
        left: 0;
    }
    .next{
        right: 0;
    }
    
}

/*Formatação do footer*/

footer{
    color: white;
    padding: 1rem 0;
}
.redesIcons{
    padding: 0 .5rem;
}
.redesIcons a{
    color: inherit;
}
.redesIcons a i{
    font-size: 150%;
}
.autoria ul{
    list-style: none;
    padding-left: 0;
}
.minhaImg{
    width: 90px;
    height: 90px;
}

footer .row{
    flex-direction: column-reverse;
}
@media screen and (min-width:768px){
    footer .row{
        flex-direction: row;
    }
}


/*Formatação da sidebar*/

.sidebar{
    display: block;
    width:200px;
    height: 100vh;
    z-index: 20;
    background-color: black;
    -webkit-transition: width 0.3s ease;
     -moz-transition: width 0.3s ease;
       -o-transition: width 0.3s ease;
          transition: width 0.3s ease;
}
.menu{
    margin-top: 90px; 
}
.menu ul{
    list-style: none;
    padding-left: 0;
}
.menu ul li{
    width: 100%;
    overflow: hidden;
}
.menu ul li a{
    display: block;
    width: 100%;
    color: white;
    text-decoration: none;
    font-size: 125%;
    padding: .7rem; 
    padding-left: 1.2rem;
}
#username, #userimg{
    position: relative;
    z-index: 21;
}

/*Formatação da tooltip*/
.tooltip{
    display: none;
    transform: translateX(-50%);
    color: white;
    width: fit-content;
    bottom: 100%;
    pointer-events: auto;
    opacity: 100%; /*botei essa merda desgraçada pq alguma merda botou essa dregraça com opacity 0 e nem a IA do inspecionar q analisou os códigos achou oq fez isso, só disse q era esse o problema, pelo menos resolveu*/
    padding: .5rem;
    text-align: center;
    border-radius: .8rem;
}

.filme:hover .botoes ul li:hover .tooltip{
    display: block;
}
